## PYLA --- Ejemplo de uso ---
En este archivo se presenta el ejemplo de ejecución de la herramienta desarrollada en el entorno de Google collaboratory.

In [77]:
!pip install geoglows 
! git clone https://github.com/jhrodriguezch/IDEAMGGlows.git
import sys
sys.path.insert(1, './IDEAMGGlows/pyla')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geoglows in /usr/local/lib/python3.8/dist-packages (0.27.0)
Requirement already satisfied: hydrostats in /usr/local/lib/python3.8/dist-packages (from geoglows) (0.78)
Requirement already satisfied: plotly>=4.6 in /usr/local/lib/python3.8/dist-packages (from geoglows) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from geoglows) (1.7.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from geoglows) (2.11.3)
Requirement already satisfied: shapely in /usr/local/lib/python3.8/dist-packages (from geoglows) (2.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from geoglows) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from geoglows) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from geoglows) (2.23.0)
Requirement already satisfied: HydroErr in /usr/local/lib/python3.8/dist-packages (from geoglows) (1.24)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=4.6->geoglows) (8.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly>=4.6->geoglows) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from hydrostats->geoglows) (3.2.2)
Requirement already satisfied: numba in /usr/local/lib/python3.8/dist-packages (from hydrostats->geoglows) (0.56.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->geoglows) (2.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->hydrostats->geoglows) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->hydrostats->geoglows) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->hydrostats->geoglows) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->hydrostats->geoglows) (1.4.4)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba->hydrostats->geoglows) (5.1.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba->hydrostats->geoglows) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba->hydrostats->geoglows) (57.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba->hydrostats->geoglows) (3.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->geoglows) (2022.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->geoglows) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->geoglows) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->geoglows) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->geoglows) (1.24.3)
fatal: destination path 'IDEAMGGlows' already exists and is not an empty directory.

**PASO 1** - Importar la herramienta desarrollada y los datos asociados. En el caso que se de un valor erroneo, se generara un resultado vacio.

In [78]:
import pyla

**Paso 1.1.** Actualizar los directorios en los cuales se encuentran las bases de datos. De la misma manera se pueden cambiar las variables mostradas, dependiendo de los servicios donde se encuentre esta información.

In [79]:
pyla.const.CONST['GEOJSON FILE']     = r'/content/IDEAMGGlows/pyla/static/IDEAM_Stations_v2.json'
pyla.const.CONST['PROFILE DATABASE'] = r'/content/IDEAMGGlows/pyla/static/profiles_db.json'
pyla.const.CONST

{'HYDROSHARE URL': 'https://www.hydroshare.org/resource/b0b5aaabd29c48bd8c5261c128f4762a/data/contents/',
 'HYDROSHARE DATE COLUMN NAME': 'Datetime',
 'HYDROSHARE FORMAT DATE': '%Y-%m-%d',
 'FEWS URL ESTACIONES': 'http://fews.ideam.gov.co/colombia/data/ReporteTablaEstaciones.csv',
 'FEWS COLUMN NAME ESTACIONES': 'id',
 'FEWS URL SERIES': 'http://fews.ideam.gov.co/colombia/jsonH',
 'GEOJSON FILE': '/content/IDEAMGGlows/pyla/static/IDEAM_Stations_v2.json',
 'GEOJSON COLUMNS TO EXTRACT': ['new_COMID'],
 'PROFILE DATABASE': '/content/IDEAMGGlows/pyla/static/profiles_db.json',
 'UTC': 5}

**Paso 1.2** : Definir el código de estación a utilizar.

In [80]:
codigo_estacion = '44037040'
codigo_estacion

'44037040'

**Paso 1.3** : Obtener el comid del río asociado a la estación de trabajo

In [81]:
comid, comid_oob                  = pyla.get_comit_from_station(ID = codigo_estacion)
comid

Function: get_comit_from_station(), Delay: 1.2371275424957275 seg.

'9018513'

**Paso 1.4**: Obtención de la serie histórica observada

In [82]:
serie_hist_observada, serie_hist_observada_oob = pyla.get_historical_data(codigo_estacion)
serie_hist_observada

Function: get_historical_data(), Delay: 8.675215005874634 seg.

               data
date
1964-09-01   97.000
1964-09-02   94.000
1964-09-03  100.000
1964-09-04  116.000
1964-09-05   96.000
...             ...
2021-09-26   18.125
2021-09-27   18.875
2021-09-28   19.125
2021-09-29   21.250
2021-09-30   35.000

[20849 rows x 1 columns]

**Paso 1.5**: Obtención de la serie historica simulada corregida.

In [83]:
serie_hist_simulada, serie_hist_simulada_oob = pyla.get_historical_sim_data(comid, serie_hist_observada)
serie_hist_simulada

Function: get_historical_sim_data(), Delay: 8.568660259246826 seg.

                 data
date
1979-01-02  37.648593
1979-01-03  40.940914
1979-01-04  40.350678
1979-01-05  39.830330
1979-01-06  40.114020
...               ...
2022-05-27  83.429283
2022-05-28  70.772885
2022-05-29  80.808829
2022-05-30  80.325660
2022-05-31  74.235287

[15856 rows x 1 columns]

**Paso 1.6**: Obtención de los niveles de alerta del servidor FEWS.

In [66]:
nivel_de_alerta_bajos_obs, nivel_de_alerta_bajos_obs_oob = pyla.get_alerta_minima_fews(codigo_estacion)
nivel_de_alerta_bajos_obs

Function: get_alerta_minima_fews(), Delay: 0.3186912536621094 seg.

0.02

**Paso 1.7**: Obtención de los datos de seccion transversal de la estación seleccionada.

In [75]:
perfil_del_rio, perfil_del_rio_oob = pyla.get_perfil_del_rio(estacion = codigo_estacion)
perfil_del_rio

Function: get_perfil_del_rio(), Delay: 0.07553434371948242 seg.

     ABSCISADO     COTA OBSERVACION  estacion       fecha
0          0.0  793.060        P.R.  44037040  1995-07-07
1          5.0  790.062         NaN  44037040  1995-07-07
2          5.2  789.662         NaN  44037040  1995-07-07
3          6.0  789.502         NaN  44037040  1995-07-07
4          6.2  788.052         NaN  44037040  1995-07-07
..         ...      ...         ...       ...         ...
983       26.0  786.138        NAOD  44037040  2021-10-11
984       27.1  786.821         NaN  44037040  2021-10-11
985       27.1  787.763         NaN  44037040  2021-10-11
986       27.1  791.211         PRD  44037040  2021-10-11
987       27.1  791.198        S/BM  44037040  2021-10-11

[988 rows x 5 columns]